{% extends 'mainweb/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="page-overlay">
  <h1>Добро пожаловать в «Сибирский борец»!</h1>

  <p>Команда <strong>«Сибирский борец»</strong> приглашает юношей на занятия по ОФП и спортивной борьбе (греко-римская борьба) 🤼‍♂️</p>

  <p>С нами ваш спортсмен обретёт здоровое окружение и мощное всестороннее физическое развитие:</p>

  <ul>
    <li>3–4 тренировки в неделю</li>
    <li>Выездные тренировки и спарринги</li>
    <li>Участие в соревнованиях</li>
    <li>Летние и зимние борцовские сборы</li>
    <li>Совместный досуг и командные мероприятия</li>
    <li>Мастер-классы от спортсменов разного уровня</li>
  </ul>

  <p>Занятия проводят опытные тренеры-педагоги с профильным образованием и спортивными результатами!</p>
</div>
{% endblock %}
