{% extends 'mainweb/layout.html' %}

{% block title %} Тренеры {% endblock %}


{% block content %}
    <h2>Наша команда тренеров</h2>
<ul>
  <li>
    <strong>Старший тренер</strong> - Мартиросян Мугуч Самвелович<br>
    Руководитель сети секций «Сибирский борец»<br>
    Опыт работы: более 4-х лет с детьми 4–14 лет<br>
    Высшее педагогическое образование (магистр)<br>
    Под его руководством: 3 секции по ОФП, 2 секции по греко-римской борьбе, 4 тренера и около 60 участников
  </li>
  <li>
    <strong>Тренер</strong> - Сотников Егор Вячеславович<br>
    Мастер спорта по греко-римской борьбе<br>
    Высшее педагогическое образование (магистр)<br>
    Опыт работы: более 3-х лет с детьми 2–14 лет
  </li>
  <li>
    <strong>Тренер по ОФП</strong> - Пантелеева Анастасия Александровна<br>
    Высшее педагогическое образование (магистр) <br>
    Опыт работы: более 3-х лет с детьми 4–14 лет<br>
    КМС по дзюдо
  </li>
  <li>
    <strong>Тренер-куратор</strong> - Мишин Владимир Петрович<br>
    Заслуженный учитель России, опыт тренерской деятельности - 55 лет <br>
    МС по греко-римской борьбе<br>
    Высшее педагогическое образование<br>
    Создатель первых спортивных классов в Алтайском крае
  </li>
</ul>

{% endblock %}